[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = {index = "https://pypi.tuna.tsinghua.edu.cn/simple/", version = "*"}
coverage = "*"

[packages]
django = "*"
pylint-django = "*"
markdown = "*"
gunicorn = "*"
whitenoise = "==5.1.0"
dj-database-url = "*"
dj-static = "*"
faker = "*"
django-pure-pagination = "*"
django-haystack = "*"
elasticsearch2 = "*"
requests = "*"
elasticsearch = "==2.4.1"
self = "*"
django-password-reset = "*"

[requires]
python_version = "3.8"
