{% extends 'base.html' %}
{% load comments_extras %}

{% block main %}

<article class="post post-{{ post_detail.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">{{ post_detail.title }}</h1>
        <div class="entry-meta">

            <span class="post-category"><a href="#">{{ post_detail.category.name }}</a></span>

            <span class="post-date"><a href="#"><time class="entry-date"
                        datetime="{{ post_detail.created_time }}">{{ post_detail.created_time }}</time></a></span>

            <span class="post-author"><a href="#">{{ post_detail.author }}</a></span>

            <span class="comments-link"><a href="#comment-area">{{ post_detail.comment_set.count }} 评论</a></span>

            <span class="views-count"><a href="#">{{ post_detail.views }} 阅读</a></span>

            <span class="delete"><a href="#" onclick="confirm_delete()">删除文章</a></span>
            
        </div>
    </header>

    <div class="entry-content clearfix">
        {{ post_detail.body_html|safe }}
    </div>

</article>

<section class="comment-area" id="comment-area">
    <hr>
    <h3>发表评论</h3>
    {% show_comment_form post_detail %}
    <div class="comment-list-panel">
      {% show_comments post_detail %}
    </div>
</section>

<script>
    // 删除文章的函数
    function confirm_delete() {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "确认删除",
            // 正文
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            yes: function(index, layero) {
                // 指定应当前往的 url
                location.href='{% url 'blog:delete' post_detail.id %}'
            },
        })
    }
</script>

{% endblock %}

{% block toc %}

{% if post_detail.toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        <div class="toc">
            <ul>
                {{ post_detail.toc|safe }}
            </ul>
        </div>
    </div>
{% endif %}

{% endblock %}